
<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
  <h1 style="color: aliceblue;">Edufree</h1>
  <button _ngcontent-nsb-c17="" _ngcontent-dxd-c17="" type="button" class="btn btn-info m-2">Consultar</button>
</nav>



<login></login>


<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(32, 93, 224, 0.603);">
    © 2021 Copyright:
    <a class="text-dark" href="https://www.misiontic2022.gov.co/portal/">Misiontic 2022</a>
  </div>
  <!-- Copyright -->
</footer>

