

  <nav class="navbar navbar-dark bg-primary cls-navbar px-4">
    <!-- Navbar content -->
    <h1>Edufree</h1>
    <button _ngcontent-nsb-c17="" type="button" class="btn btn-info m-2" routerLink="programas-en-oferta">Ver Programas en Oferta</button>
  </nav>




<div>
<router-outlet></router-outlet>
</div>

<footer class="bg-light text-center text-lg-start cls-footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(32, 93, 224, 0.603);">
    © 2021 Copyright:
    <a class="text-dark" href="https://www.misiontic2022.gov.co/portal/">Misiontic 2022</a>
  </div>
  <!-- Copyright -->
</footer>

