.cls-login{
    display: grid;
}
.cls-contain-form {
    display: grid;
    justify-content: center;
    align-items: center;
}

.cls-form{
display: flex;
align-items: center;
justify-content: center;
}